body{ 
	background-image:url("images/fond.png");
	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center center;
    	background-clip: border-box;
    	background-origin: padding-box;
    	background-size: cover;
}

.titre{
/* Size and position */
    width: 300px;
	position: absolute;
    padding: 8px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
	padding-left:30px;
	margin-left: 400px;
    font-size: 24px;
	border-radius:20px;
	float: center;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: linear-gradient(#27292c, #bbdeff);    
    border: 1px solid #000;
   

    /* Font styles */
    font-family: Arial, sans-serif;
    color: #fff;

}



#entete{
	width: 800px;
	height:90px;
}

.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}
#mega-menu{
	margin-left:-5px;
	margin-top:50px;
}

.grey {font: normal 13px Arial, sans-serif; line-height: 16px;}
.grey ul.mega-menu, .grey ul.mega-menu, .grey ul.mega-menu li {margin: 0; padding: 0; border: none;}
.grey ul.mega-menu {background: #8998a8 url(images/bg_blue.png) repeat-x 0 -80px; width: 100%; height: 40px; border-right: 1px solid #8B949F; border-left: 1px solid #8B949F; position: relative;}
.grey ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
.grey ul.mega-menu li a {float: left; display: block; color: #fff; padding: 12px 38px 12px 25px; background: url(images/bg_grey.png) repeat-x 100% 0; text-shadow: 1px 1px 1px #000; text-decoration: none;}
.grey ul.mega-menu li a.dc-mega {position: relative;}
.grey ul.mega-menu li a .dc-mega-icon {display: block; position: absolute; top: 18px; right: 15px; width: 8px; height: 6px; background: url(images/arrow.png) no-repeat 0 0;}
.grey ul.mega-menu li.mega-hover a, .grey ul.mega-menu li a:hover {background-position: 100% -40px; color: #000; text-shadow: none;}
.grey ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.grey ul.mega-menu li .sub-container {position: absolute; background: url(images/bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}
.grey ul.mega-menu li .sub {background: url(images/bg_sub.png) no-repeat 100% 100%; padding: 20px 20px 20px 10px;}
.grey ul.mega-menu li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
.grey ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.grey ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.grey ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.grey ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.grey ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 15px; margin-bottom: 5px; background: #8A98A9 url(images/bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #333;}
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #000; text-shadow: none;}
.grey ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(images/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.grey ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;}
.grey ul.mega-menu .sub ul li {padding-right: 0;}
.grey ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.grey ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.grey ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(images/arrow_off.png) no-repeat 7px 10px;}
.grey ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 7px 10px;}




header 
{
	height: 120px;
	border-radius: 5px;
	background: url('banniere.png');
	background-repeat: repeat-x;
	/*background-position: 203px 0px;*/
	border : thin solid gray;
	position: relative;
	/*box-shadow: 0px 4px 4px #1c1a19;*/
}
h1 {
	float:right;
	color: white;
	padding-top: 30px;
	padding-right: 50px;
	font-size: 30px;
}


#banner
{
	/*border-radius: 30px;*/
	/*background:white*/
	margin-left: 20px;
	float:left;
	margin-top: 5px;
}



.text{
/* Size and position */
    width: 300px;
	position: absolute;
    padding: 8px 5px;
    margin-top: 10px;
	padding-left:30px;
	margin-left: 1px;
    font-size: 24px;
	border-radius:20px;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: linear-gradient(#bbdeff, #27292c);
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #000;

}


.texte{
/* Size and position */
    width: 300px;
	position: absolute;
    padding: 8px 5px;
    margin-top: 10px;
	padding-left:30px;
	margin-left: 625px;
    font-size: 24px;
	border-radius:20px;
	float: center;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: linear-gradient(#bbdeff, #27292c);
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #000;

}

.accueil
{
width: 1000px;
margin-left: 100px;
}

.formulaire {

    font-family: 'Ubuntu', 'Lato', sans-serif;

    font-weight: 400;

    /* Size and position */

    width: 300px;

    position: relative;

    margin: 60px auto 30px;
    float: left;

    padding: 10px;

    overflow: hidden;



    /* Styles */

    background: linear-gradient(#bbdeff, #27292c);

    border-radius: 0.4em;

    border: 1px solid #191919;

    box-shadow: 

        inset 0 0 2px 1px rgba(255,255,255,0.08), 

        0 16px 10px -8px rgba(0, 0, 0, 0.6);

}

.center
{
 float: center;
 width:200 px;
}


.abonne
{
    width: 400px;
	position: absolute;
    padding: 8px 5px;
    margin-top: 60px;
    margin-bottom: 20px;
	padding-left:30px;
	margin-left: 400px;
    font-size: 24px;
	border-radius:20px;
	float: center;
}
.label
{
 /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
}

.formulaire input[type=text],
.formulaire select,
.formulaire input[type=password] {

    /* Size and position */

    width: 200px;

    float: left;

    padding: 8px 5px;

    margin-bottom: 10px;

    font-size: 12px;



    /* Styles */

    background: #1f2124; /* Fallback */

    background: -moz-linear-gradient(#1f2124, #27292c);

    background: -ms-linear-gradient(#1f2124, #27292c);

    background: -o-linear-gradient(#1f2124, #27292c);

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));

    background: -webkit-linear-gradient(#1f2124, #27292c);

    background: linear-gradient(#1f2124, #27292c);    

    border: 1px solid #000;

    box-shadow:

        0 1px 0 rgba(255,255,255,0.1);

    border-radius: 3px;



    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: #fff;



}
.formulaire input[type=radio]{

    /* Size and position */

    width: 50%;
    
    height: 5%;

    float: left;

    padding: 8px 5px;

    margin-bottom: 10px;

    font-size: 12px;
     /* Styles */

   
    border: 1px solid #000;

    box-shadow:

        0 1px 0 rgba(255,255,255,0.1);

    border-radius: 3px;



    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: #fff;


    }



.formulaire input[type=text]:hover,

.formulaire input[type=password]:hover
 {

    background: #27292c;

}



.formulaire input[type=text]:focus, 
.formulaire select:focus,

.formulaire input[type=password]:focus {

    box-shadow: inset 0 0 2px #000;

    background: #494d54;

    border-color: #51cbee;

    outline: none; /* Remove Chrome outline */

}



.formulaire p:nth-child(3),

.formulaire p:nth-child(4) {

    float: left;

    width: 50%;

}




.formulaire input[type=checkbox] {

    
    /* Size and position */

    width: 40px;
    
    height: 40px;

    float: left;

    padding: 8px 5px;

    margin-bottom: 10px;

    font-size: 12px;
     /* Styles */

   
    border: 1px solid #000;

    box-shadow:

        0 1px 0 rgba(255,255,255,0.1);

    border-radius: 3px;



    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: #fff;



}



.formulaire input[type=submit],
.formulaire input[type=reset] {

    /* Width and position */

    width: 100%;

    padding: 8px 5px;

  

    /* Styles */

    border: 1px solid #0273dd; /* Fallback */

    border: 1px solid rgba(0,0,0,0.4);

    box-shadow:

        inset 0 1px 0 rgba(255,255,255,0.3),

        inset 0 10px 10px rgba(255,255,255,0.1);

    border-radius: 3px;

    background: #38a6f0;

    cursor:pointer;

  

    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: white;

    font-weight: 700;

    font-size: 15px;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);

}



.formulaire input[type=submit]:hover,
.formulaire input[type=reset]:hover { 

    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);

}



.formulaire input[type=submit]:active,
.formulaire input[type=reset]:active { 

    background: #287db5;

    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);

    border-color: #000; /* Fallback */

    border-color: rgba(0,0,0,0.9);

}



.no-boxshadow .formulaire input[type=submit]:hover,
.no-boxshadow .formulaire input[type=reset]:hover {

    background: #2a92d8;

}



.formulaire:after {

    /* Size and position */

    content: "";

    height: 1px;

    width: 33%;

    position: absolute;

    left: 20%;

    top: 0;



    /* Styles */

    background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));

    background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

}



.formulaire:before {

    /* Size and position */

    content: "";

    width: 8px;

    height: 5px;

    position: absolute;

    left: 34%;

    top: -7px;

    

    /* Styles */

    border-radius: 50%;

    box-shadow: 0 0 6px 4px #fff;

}



.formulaire p:nth-child(1):before{

    /* Size and position */

    content:"";

    width:250px;

    height:100px;

    position:absolute;

    top:0;

    left:45px;



    /* Styles */

    -webkit-transform: rotate(75deg);

    -moz-transform: rotate(75deg);

    -ms-transform: rotate(75deg);

    -o-transform: rotate(75deg);

    transform: rotate(75deg);

    background: -moz-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: -ms-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: -o-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: -webkit-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    pointer-events:none;

}



.no-pointerevents .formulaire p:nth-child(1):before {

    display: none;

}


