 
	
	.th {
	font-family:"DejaVu Sans";
	font-size: small;
	text-align: center;
	color: #EFEFEF;
	background-color: #666666;
	}

	.table {
	font-family:"DejaVu Sans";
	font-size: small;
	color: #666666;
	background-color: #EFEFEF;
	}
	
	
