{% extends "inverse.html" %}
{% block res %}
  
  <h2>Resultat</h2>
  
 <form action="" method=post class=formulaire>
      <center>
 <table border="3" >
          <tr>
            <td> <span class="signe">A=</span></td>
            <td>
                {% for i in range(n)%}
                    {% for j in range(n)%}
                        <input type=text size="2" name=case1_{{i}}{{j}} value={{Mat[i][j]}} >
                    {% endfor %}
                    <br/>
                {% endfor %}
             </td>
             <td> <span class="signe">A</span>-1<span class="signe">=</span></td>
             <td>
                {% for m in range(n)%}
                  {% for n in range(n)%}
                        <input type=text size="2" name=case3_{{m}}{{n}} value={{resultat[m][n]}}>
                  {% endfor %}
                  <br/>
                {% endfor %}
             </td>
          </tr>
        </table></center>
    </form>


  
{% endblock %}