{% extends "solveur.html" %}
{% block res %}
  
 <center>
  <br/>
 <div >
    <ul id="nav"><!-- attention à bien faire correspondre l'id de chaque item avec la feuilles de style -->
      <a href="{{ url_for('resolutionGauss') }}">Gauss </a>
      <a href="{{ url_for('resolutionCholesky') }}">Cholesky</a>
      <a href="{{ url_for('resolutionLU') }}"> LU </a>
    </ul>
  </div> </center>
  <br/>
 <form action="" method=post class=formulaire>
      <center>
 <table border="3" cellspacing="10">
          <tr>
            <td>Matrice=</td>
            <td>
                {% for i in range(taille)%}
                    {% for j in range(taille)%}
                        <input type=text size="2" name=case1_{{i}}{{j}} value={{Matrice[i][j]}} required>
                    {% endfor %}
                    <br/>
                {% endfor %}
             </td>
             <td> <span class="signe">***</span></td>
             <td>Vecteur=</td>
             <td>
                {% for m in range(taille)%}
                    <input type=text size="2" name=case3_{{m}} value={{vecteur[m]}} required>
                  <br/>
                {% endfor %}
             </td>
          </tr>
        </table></center>
    </form>
    <br/><br/>

  
{% endblock %}