/* base exemple*/
body { 
	font-family: "HelveticaNeue","Helvetica-Neue", "Helvetica", "Arial", sans-serif; 
	/*background:#666666;*/
}
.link {display: block; margin-top: 50px; text-align: center; font-size: 20px; color: #555; text-decoration: none;background: #394963; }

.cadre{
	width:500px;
	height:500px;
	margin-top:100px;
	margin-left:350px;
	background:white;
	padding-top:100px;
	margin-bottom:300px;
	border-radius:120px;

}



a{
    text-decoration: none;
     font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

    font-weight: 400;
}

/* fenetre */
.reveal-modal-bg { position: fixed; height: 100%;width: 100%;background: #000;background: rgba(0,0,0,.5);z-index: 100;display: none;top: 0;left: 0; }
.reveal-modal {	visibility: hidden;	top: 100px; left: 50%;margin-left: -300px;width: 520px;
	background: #eee url(modal-gloss.png) no-repeat -200px -80px;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
.reveal-modal.small { width: 200px; margin-left: -140px;}
.reveal-modal.medium { width: 400px; margin-left: -240px;}
.reveal-modal.large { width: 600px; margin-left: -340px;}
.reveal-modal.xlarge { width: 800px; margin-left: -440px;}
.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 





#en_tete
{
width: 760px;
height: 75px;
background-repeat: no-repeat;
margin-bottom: 0px;
}

@charset "iso-8859-1";

*,

*:after,

*:before {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    -ms-box-sizing: border-box;

    -o-box-sizing: border-box;

    box-sizing: border-box;

    padding: 0;

    margin: 0;

}



.clearfix:after {

    content: "";

    display: table;

    clear: both;

}



.formulaire {

    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

    font-weight: 400;

    /* Size and position */

    width: 500px;

    position: relative;

    margin: 60px auto 30px;

    padding: 10px;

    overflow: hidden;



    /* Styles */

    background: #394963; 

    border-radius: 0.4em;

    border: 1px solid #191919;

    box-shadow: 

        inset 0 0 2px 1px rgba(255,255,255,0.08), 

        0 16px 10px -8px rgba(0, 0, 0, 0.6);

}



.formulaire label {

    /* Size and position */

    width: 50%;

    float: left;

    padding-top: 15px;
    padding-bottom: 15px;



    /* Styles */

    color: #ddd;

    font-size: 12px;

    text-transform: uppercase;

    letter-spacing: 1px;

    text-shadow: 0 1px 0 #000;

    text-indent: 10px;

    font-weight: 700;

    cursor: pointer;

}



.formulaire input[type=text],
.formulaire select,
.formulaire input[type=password],
.formulaire input[type=date],
.formulaire input[type=file] {

    /* Size and position */

    width: 50%;

    float: left;

    padding: 8px 5px;

    margin-bottom: 10px;

    font-size: 12px;



    /* Styles */

    background: #1f2124; /* Fallback */

    background: -moz-linear-gradient(#1f2124, #27292c);

    background: -ms-linear-gradient(#1f2124, #27292c);

    background: -o-linear-gradient(#1f2124, #27292c);

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));

    background: -webkit-linear-gradient(#1f2124, #27292c);

    background: linear-gradient(#1f2124, #27292c);    

    border: 1px solid #000;

    box-shadow:

        0 1px 0 rgba(255,255,255,0.1);

    border-radius: 3px;



    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: #fff;



}



.formulaire input[type=text]:focus, 
.formulaire select:focus,

.formulaire input[type=password]:focus,
.formulaire input[type=date]:focus,
.formulaire input[type=file] {

    box-shadow: inset 0 0 2px #000;

    background: #494d54;

    border-color: #51cbee;

    outline: none; /* Remove Chrome outline */

}

.formulaire input[type=radio]
.formulaire input[type=checkbox]{

    width: 20px;
    
    height: 20px;

    box-shadow: inset 0 0 2px #000;

    background: #494d54;

    border-color: #51cbee;

    outline: none; /* Remove Chrome outline */

}






.formulaire label[for=remember] {

    width: auto;

    float: none;

    display: inline-block;

    text-transform: capitalize;

    font-size: 11px;

    font-weight: 400;

    letter-spacing: 0px;

    text-indent: 2px;

}





.formulaire input[type=submit] {

    /* Width and position */

    width: 100%;

    padding: 8px 5px;

  

    /* Styles */

    border: 1px solid #0273dd; /* Fallback */

    border: 1px solid rgba(0,0,0,0.4);

    box-shadow:

        inset 0 1px 0 rgba(255,255,255,0.3),

        inset 0 10px 10px rgba(255,255,255,0.1);

    border-radius: 3px;

    background: #38a6f0;

    cursor:pointer;

  

    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: white;

    font-weight: 700;

    font-size: 15px;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);

}



.formulaire input[type=submit]:hover { 

    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);

}



.formulaire input[type=submit]:active { 

    background: #287db5;

    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);

    border-color: #000; /* Fallback */

    border-color: rgba(0,0,0,0.9);

}



.no-boxshadow .formulaire input[type=submit]:hover {

    background: #2a92d8;

}



.formulaire:after {

    /* Size and position */

    content: "";

    height: 1px;

    width: 33%;

    position: absolute;

    left: 20%;

    top: 0;



    /* Styles */

    background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));

    background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);

}



.formulaire:before {

    /* Size and position */

    content: "";

    width: 8px;

    height: 5px;

    position: absolute;

    left: 34%;

    top: -7px;

    

    /* Styles */

    border-radius: 50%;

    box-shadow: 0 0 6px 4px #fff;

}



.formulaire p:nth-child(1):before{

    /* Size and position */

    content:"";

    width:250px;

    height:100px;

    position:absolute;

    top:0;

    left:45px;



    /* Styles */

    -webkit-transform: rotate(75deg);

    -moz-transform: rotate(75deg);

    -ms-transform: rotate(75deg);

    -o-transform: rotate(75deg);

    transform: rotate(75deg);

    background: -moz-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: -ms-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: -o-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: -webkit-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

    pointer-events:none;

}



.no-pointerevents .formulaire p:nth-child(1):before {

    display: none;

}



ul, li {
margin: 0;
 padding: 0;
}
#blob {
 border-right: 1px solid #0059ec;
 border-left: 1px solid #0059ec;
 position: absolute; top: 0;
 z-index : 1;
 background: #0b2b61;
 background: -moz-linear-gradient(top, #0b2b61, #1153c0);
 background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 2px 3px 10px #011331;
 -webkit-box-shadow: 2px 3px 10px #011331;
}
#nav { 
 position: relative;
 background: #292929;
 float: left;
}
#nav li {
 float: left;
 list-style: none;
 border-right: 1px solid #4a4a4a;
 border-left: 1px solid black;
}
#nav li a {
 color: #e3e3e3;
 position: relative;
 z-index: 2;
 float: left;
 font-size: 22px;
 font-family: helvetica, arial, sans-serif;
 text-decoration: none;
 padding: 10px 35px;
}




h1,h2 {
/* Size and position */
    width: 400px;
	position: center;
    padding: 8px 5px;
    margin-top: 20px;
    margin-bottom:10px;
	padding-left:30px;
	margin-left: 1px;
    font-size: 24px;
	border-radius:20px;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: #394963;    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

}

.text{
/* Size and position */
    width: 500px;
    position: center;
    padding: 8px 5px;
    margin-top: 20px;
    margin-bottom:10px;
    padding-left:30px;
    margin-left: 1px;
    font-size: 24px;
    border-radius:20px;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: #394963;    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

}


.menu{
	margin-top:100px;
}
