* { margin: 0; padding: 0; }
/*body { font: 14px Georgia, serif; }*/
body            { font-family: sans-serif; background: #eee; }
h1, h2          { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0;text-align:center }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p               { margin: 2em auto; margin-left: 5px;  border: 5px solid #394963;
                  padding: 0.8em; background: white;font-size: 20px;color: #394963; }

.page           { margin: 2em auto; width: 1000px;height:800px; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }


.banniere	{text-align:center;width:900px;height:50px}

/* propriétés de base du menu */
nav {width: 960px;height: 100px;margin-top: 0px;margin-bottom: 40px;	text-align: center;display: block;font-family: verdana,arial;}
.leftMenu{width: 100px;height: 300px;margin-top: 0px;margin-bottom: 0px;	text-align: center;display: block;font-family: verdana,arial;}

/*.contenu {background: grey;}*/
/* attention à bien faire correspondre l'id de chaque item avec le code */
#item1 { background: #41D05F; }
#item2 { background: #E42B2B; }
#item3 { background: #ff8400; }
#item4 { background: #a800ff; }
#item5 { background: #49a7f3; }
#item6 { background: #394963; }
#item7 { background: #38114e; }
#item8 { background: #E4B05F; }
#item9 { background: #39805F; }

.top-menu li {display: inline-block;text-align: center;margin: 0px 5px;position: relative;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
}
.top-menu li:hover {margin: 30px 20px; }
.top-menu li:active {margin: 30px 33px; }
.top-menu li a  {width: 100px;height: 100px;z-index: 9999;position: absolute;top: 35px;font-weight: bold;display: block;
text-decoration: none;
font-size: 13px;
color: #fff;
text-shadow: 0px 1px 1px rgba(0,0,0,0.4), 0px 4px 6px rgba(0,0,0,0.1), 0px 9px 11px rgba(0,0,0,0.1);
-webkit-transition: all 0.1s linear; 
-moz-transition: all 0.1s linear;
-o-transition: all 0.1s linear;
}
.top-menu li:active a {font-size: 26px;top: 30px;text-shadow: none;}
.top-menu li div.menu-item {width: 100px;height: 100px;display: block;
-webkit-transition: all 0.2s ease; 
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-border-top-left-radius: 100px; 
-webkit-border-bottom-right-radius: 100px; 
-moz-border-radius-topleft: 100px; 
-moz-border-radius-bottomright: 100px; 
border-top-left-radius: 100px; 
border-bottom-right-radius: 100px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
}
.top-menu li:hover div.menu-item{ 
-webkit-border-top-left-radius: 80px; 
-webkit-border-bottom-right-radius: 80px; 
-moz-border-radius-topleft: 80px; 
-moz-border-radius-bottomright: 80px; 
border-top-left-radius: 80px; 
border-bottom-right-radius: 80px; 
-webkit-transform: rotate(225deg);
-moz-transform: rotate(225deg);
-o-transform: rotate(225deg);
}
.top-menu li:active div.menu-item{ 
	-webkit-border-top-left-radius: 50px; 
	-webkit-border-bottom-right-radius: 50px; 
	-moz-border-radius-topleft: 50px; 
	-moz-border-radius-bottomright: 50px; 
	border-top-left-radius: 50px; 
	border-bottom-right-radius: 50px; 

}

.formulaire  {
color: #FFF;
font-family: Arial,sans-serif;

font-weight: 0;
border-radius: 20px;
background: #394963;
/*background: linear-gradient(#27292C, #BBDEFF) repeat scroll 0% 0% transparent;*/
border: 1px solid #000;

}
.submit{

    /* Width and position */
    width:100px;
    padding: 8px 5px;
  

    /* Styles */

    border: 1px solid #023564; /* Fallback */

    border: 1px solid rgba(0,0,0,0.4);

    box-shadow:

        inset 0 1px 0 rgba(255,255,255,0.3),

        inset 0 10px 10px rgba(255,255,255,0.1);

    border-radius: 10px;

    background: #394963;

    cursor:pointer;

  

    /* Font styles */

    font-family: 'Ubuntu', 'Lato', sans-serif;

    color: white;

    font-weight: 700;

    font-size: 15px;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);

}

.signe {font-size: 2.2em;}


/*style du menu*/
ol, ul , li{ list-style: none; }

/* nav menu styles */
#nav { 
  display: inline-block; 
  /*width: 200px;*/ 
  margin-left: 0px; 
  margin-right: 10px; 
  
 }

#nav a {}

#nav > a { 
  display: inline-block; 
  padding: 5px 7px;
  font-size: 15px;
  margin:2px;
  color: #FFF;
  font-family: Arial,sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #212121;
  background-color: #343434;
  background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#292929));
  background: -webkit-linear-gradient(top, #343434, #292929);
  background: -moz-linear-gradient(top, #343434, #292929);
  background: -ms-linear-gradient(top, #343434, #292929);
  background: -o-linear-gradient(top, #343434, #292929);
  background: linear-gradient(top, #343434, #292929);
  border-radius: 20px;
/*background: linear-gradient(#27292C, #BBDEFF) repeat scroll 0% 0% transparent;*/
 background: #394963;
border: 1px solid #FFF;
}
#nav > a:hover, #nav > a.open { 
  color: #e9e9e9;
  border-bottom-color: #384f76;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}

#nav > a:active, #nav > a.open { 
  color: #e9e9e9;
  border-bottom-color: #384f76;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(#FF00BB, #BBDEFF) repeat scroll 0% 0% transparent;
 
}

#nav ul { display: none; background: #4a5b78; }

